Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml

chore: create design documents
  docs/design/ADMIN_API_DESIGN.md
  docs/design/API_AND_BACKEND_INFRASTRUCTURE_DESIGN.md
  docs/design/API_DESIGN.md
  docs/design/DYNAMODB_BANDS_DATA_MODEL.md
  docs/design/DYNAMODB_FESTIVALS_DATA_MODEL.md
Labels: documentation

Chore/design docs (#118)
  docs/design/ADMIN_API_DESIGN.md
  docs/design/API_AND_BACKEND_INFRASTRUCTURE_DESIGN.md
  docs/design/API_DESIGN.md
  docs/design/DYNAMODB_BANDS_DATA_MODEL.md
  docs/design/DYNAMODB_FESTIVALS_DATA_MODEL.md
Labels: documentation

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: fix band keys
  db.json
Labels: data

chore: fix band members roles
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

fix: data validation
  db.json
Labels: data

fix: data validation
  db.json
Labels: data

fix: use common functions to normalize names and keys
  .pre-commit-config.yaml
  internal/data/bands.go
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
  scripts/validate_data/validate_data.go
  scripts/validate_data/validate_data_test.go
Labels: ci

chore: extend PRs summary, upgrade PR creation step action
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
  admin/js/admin-page-loader.test.js
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
  scripts/festival_updater/festival_updater_test.go
  vitest.setup.js
Labels: ci, logic

Fix/auto update validation (#123)
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
  .pre-commit-config.yaml
  admin/js/admin-page-loader.test.js
  internal/data/bands.go
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
  scripts/festival_updater/festival_updater_test.go
  scripts/validate_data/validate_data.go
  scripts/validate_data/validate_data_test.go
  vitest.setup.js
Labels: ci, logic

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: close and reopen auto PRs
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

fix: close and reopen auto PRs (#125)
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: use specific PAT
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

fix: use specific PAT (#127)
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#128)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#133)
  db.json
Labels: data

chore: fix validation issues
  db.json
Labels: data

chore: 🤖 Automated Bands Information Update - 11 (#134)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#135)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#136)
  db.json
Labels: data

fix: member roles capitalization
  db.json
Labels: data

chore: 🤖 Automated Bands Information Update - 13 (#137)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#138)
  db.json
Labels: data

fix: member roles keys
  db.json
Labels: data

chore: 🤖 Automated Bands Information Update - 14 (#139)
  db.json
Labels: data
