Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml

feat: add automated festivals updated using openAI
  .github/workflows/festival-updater.yml
  .gitignore
  AUTOMATION_SUMMARY.md
  scripts/.env.template
  scripts/README.md
  scripts/config.py
  scripts/festival_updater.py
  scripts/festival_utils.py
  scripts/requirements.txt
  scripts/test_system.py
Labels: ci, documentation

chore: adjust scheduler
  .github/workflows/festival-updater.yml
Labels: ci

fix: festivals updater script, remove all unnecessary stuff
  .github/workflows/festival-updater.yml
  scripts/.env.template
  scripts/README.md
  scripts/config.py
  scripts/festival_updater.py
  scripts/festival_utils.py
  scripts/prompt.md
  scripts/requirements.txt
  scripts/test_system.py
Labels: ci

🎸 Update festival information (automated)
  db.json
  festival_update_summary.md
Labels: documentation, data

chore: improve prompt and API usage
  .github/workflows/festival-updater.yml
  scripts/festival_updater.py
  scripts/prompt.md
Labels: ci

🎸 Update festival information (automated)
  db.json
  festival_update_summary.md
Labels: documentation, data

chore: more prompt optimizations
  .github/workflows/festival-updater.yml
  scripts/festival_updater.py
  scripts/prompt.md
Labels: ci

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: more prompt optimizations
  scripts/festival_updater.py
  scripts/prompt.md
Labels: none

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: remove testing trigger!
  .github/workflows/festival-updater.yml
Labels: ci

feat: add automated festivals updated using openAI (#32)
  .github/workflows/festival-updater.yml
  .gitignore
  AUTOMATION_SUMMARY.md
  scripts/.env.template
  scripts/festival_updater.py
  scripts/prompt.md
  scripts/requirements.txt
Labels: ci, documentation

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: workflows issues
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
Labels: ci

fix: reduce complexity
  scripts/festival_updater.py
Labels: none

fix: 31/sonar issues (#37)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
  scripts/festival_updater.py
Labels: ci

chore: add new festivals to the list
  db.json
Labels: data

chore: add more festivals
  db.json
Labels: data

chore: add new festivals to the list (#38)
  db.json
Labels: data

fix: workflow token with reservved name
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
Labels: ci

fix: workflow token with reservved name (#39)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
Labels: ci

chore: add more festivals
  db.json
Labels: data

chore: add more festivals
  db.json
Labels: data

Chore/update festivals (#40)
  db.json
Labels: data

chore: normalize bands names, add bands section
  db.json
Labels: data

chore: normalize bands names, add bands section (#41)
  db.json
Labels: data

fix: bands duplicated names
  db.json
  script.js
Labels: logic, data

fix: bands duplicated names (#42)
  db.json
  script.js
Labels: logic, data

feat: add band page
  BAND_PAGE_FEATURE.md
  css/band-modal.css
  css/layout.css
  error.html
  index.html
  js/band-manager.js
  js/map.js
  js/router.js
  map.html
  script.js
Labels: documentation, style, logic

feat: add band page (#43)
  BAND_PAGE_FEATURE.md
  css/band-modal.css
  css/layout.css
  error.html
  index.html
  js/band-manager.js
  js/map.js
  js/router.js
  map.html
  script.js
Labels: documentation, style, logic

feat: add standalon band page from direct url
  error.html
  index.html
  js/error.js
  map.html
  server.py
Labels: logic

feat: add standalon band page from direct url (#44)
  error.html
  index.html
  js/error.js
  map.html
  server.py
Labels: logic

feat: add bands updater script
  scripts/band_prompt.md
  scripts/band_updater.py
Labels: none

chore: update bands information
  db.json
Labels: data

feat: add bands updater workflow
  .github/workflows/bands-updater.yml
Labels: ci

feat: parse bands descriptions markdown links
  css/band-modal.css
  js/band-manager.js
  js/error.js
Labels: style, logic

chore: unify bands-manager code
  js/band-manager.js
  js/error.js
Labels: logic

chore: minor adjustments
  css/band-modal.css
  js/band-manager.js
  js/error.js
Labels: style, logic

chore: update bands information
  db.json
Labels: data

Feat/46/nads updater (#47)
  .github/workflows/bands-updater.yml
  css/band-modal.css
  db.json
  js/band-manager.js
  js/error.js
  scripts/band_prompt.md
  scripts/band_updater.py
Labels: ci, style, logic, data
