Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml

feat: dynamic admin page, festivals manager
  .pre-commit-config.yaml
  admin/css/admin.css
  admin/index.html
  admin/js/admin-page-loader.js
  admin/js/band-review-manager.js
  admin/js/band-reviewed-manager.js
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  components/admin-form/admin-form.css
  components/admin-list/admin-list.css
  components/admin-list/admin-list.html
  components/admin-list/admin-list.js
  components/admin-nav/admin-nav.css
  components/admin-nav/admin-nav.html
  components/admin-nav/admin-nav.js
  components/admin-tabs/admin-tabs.css
  components/admin-tabs/admin-tabs.html
  components/admin-tabs/admin-tabs.js
  index.html
  js/router.js
  js/spa-router.js
  map.html
  package.json
  server.go
Labels: ci, style, logic, dependencies

fix: current selection load
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  components/admin-list/admin-list.css
Labels: style, logic

fix: bands management page
  admin/index.html
  admin/js/admin-page-loader.js
  admin/js/managers/BandEditForm.js
  admin/js/managers/BandManager.js
  components/admin-form/admin-form.css
  components/admin-nav/admin-nav.js
  js/spa-router.js
Labels: style, logic

fix: multiple fixes
  admin/css/admin.css
  admin/js/admin-page-loader.js
  admin/js/managers/BandEditForm.js
  admin/js/managers/BandManager.js
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  components/admin-form/admin-form.css
  components/admin-list/admin-list.css
Labels: style, logic

fix: more multiple fixes
  admin/js/admin-page-loader.js
  admin/js/managers/BandEditForm.js
  admin/js/managers/BandManager.js
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  admin/js/notification.js
  components/admin-form/admin-form.css
  components/admin-list/admin-list.css
  components/admin-list/admin-list.js
  db.json
  js/router.js
  js/spa-router.js
  server.go
Labels: style, logic, data

chore: remove logs
  admin/js/admin-page-loader.js
  admin/js/admin.js
  js/error.js
  js/spa-router.js
Labels: logic

fix: restore unsaved bands
  db.json
Labels: data

Feat/admin festivals (#64)
  .pre-commit-config.yaml
  admin/css/admin.css
  admin/index.html
  admin/js/admin-page-loader.js
  admin/js/admin.js
  admin/js/band-review-manager.js
  admin/js/band-reviewed-manager.js
  admin/js/managers/BandEditForm.js
  admin/js/managers/BandManager.js
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  admin/js/notification.js
  components/admin-form/admin-form.css
  components/admin-list/admin-list.css
  components/admin-list/admin-list.html
  components/admin-list/admin-list.js
  components/admin-nav/admin-nav.css
  components/admin-nav/admin-nav.html
  components/admin-nav/admin-nav.js
  components/admin-tabs/admin-tabs.css
  components/admin-tabs/admin-tabs.html
  components/admin-tabs/admin-tabs.js
  db.json
  index.html
  js/error.js
  js/router.js
  js/spa-router.js
  map.html
  package.json
  server.go
Labels: ci, style, logic, data, dependencies

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: refactor main page and map to SPA
  css/band-modal.css
  css/map.css
  index.html
  js/map.js
  js/router.js
  map.html
  script.js
Labels: style, logic

chore: refactor main page and map to SPA (#70)
  css/band-modal.css
  css/map.css
  index.html
  js/map.js
  js/router.js
  map.html
  script.js
Labels: style, logic

chore: local server logic refactored
  admin/js/managers/BandEditForm.js
  admin/js/managers/FestivalEditForm.js
  internal/api/bands.go
  internal/api/festivals.go
  internal/api/router.go
  internal/api/url_validate.go
  internal/constants/common.go
  internal/data/bands.go
  internal/data/db_json.go
  internal/data/festivals.go
  internal/model/api.go
  internal/model/band.go
  internal/model/database.go
  internal/model/feestival.go
  server.go
Labels: logic

chore: local server logic refactored (#71)
  admin/js/managers/BandEditForm.js
  admin/js/managers/FestivalEditForm.js
  internal/api/bands.go
  internal/api/festivals.go
  internal/api/router.go
  internal/api/url_validate.go
  internal/constants/common.go
  internal/data/bands.go
  internal/data/db_json.go
  internal/data/festivals.go
  internal/model/api.go
  internal/model/band.go
  internal/model/database.go
  internal/model/feestival.go
  server.go
Labels: logic

chore: change data structure
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  components/festival-card/festival-card.js
  db.json
  internal/model/feestival.go
  js/band-manager.js
  js/map.js
  script.js
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
  scripts/validate_data/validate_data.go
Labels: logic, data

fix: issue with bands field in festival edit form
  admin/js/managers/FestivalEditForm.js
  db.json
Labels: logic, data

fix: lint issue
  scripts/festival_updater/festival_updater.go
Labels: none

fix: 65/festival edit (#72)
  admin/js/managers/FestivalEditForm.js
  admin/js/managers/FestivalManager.js
  components/festival-card/festival-card.js
  db.json
  internal/model/feestival.go
  js/band-manager.js
  js/map.js
  script.js
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
  scripts/validate_data/validate_data.go
Labels: logic, data

chore: redesign filters buttons
  css/components.css
  css/layout.css
  css/responsive.css
  js/ui-utils.js
Labels: style, logic

chore: remove filtered elements from view
  script.js
Labels: logic

fix: responsive style of new filters design
  css/components.css
  css/responsive.css
  js/ui-utils.js
Labels: style, logic

feat: search filter
  css/components.css
  css/layout.css
  css/responsive.css
  index.html
  js/map.js
  js/router.js
  js/search-filter-manager.js
  js/ui-utils.js
  script.js
Labels: style, logic

feat: 63/advanced filters (#73)
  css/components.css
  css/layout.css
  css/responsive.css
  index.html
  js/map.js
  js/router.js
  js/search-filter-manager.js
  js/ui-utils.js
  script.js
Labels: style, logic

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: festivals updater
  .github/actions/go-setup/action.yml
  db.json
  go.mod
  internal/data/festivals.go
  internal/openai/openai.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
Labels: ci, data

fix: nads updater
  internal/data/bands.go
  scripts/band_updater/band_updater.go
Labels: none

fix: missing go.sum
  .gitignore
  go.sum
Labels: none

Fix/updaters (#76)
  .github/actions/go-setup/action.yml
  .gitignore
  db.json
  go.mod
  go.sum
  internal/data/bands.go
  internal/data/festivals.go
  internal/openai/openai.go
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
Labels: ci, data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

fix: updaters
  db.json
  go.mod
  go.sum
  internal/data/bands.go
  internal/openai/openai.go
  scripts/band_prompt.md
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
Labels: data

fix: updaters (#79)
  db.json
  go.mod
  go.sum
  internal/data/bands.go
  internal/openai/openai.go
  scripts/band_prompt.md
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: bad data
  db.json
  scripts/festival_updater/festival_updater.go
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

fix: capitalization
  db.json
  scripts/band_updater/band_updater.go
  scripts/validate_data/validate_data.go
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data
