Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

feat: add initial bands review local admin page
  AUTOMATION_SUMMARY.md
  BAND_PAGE_FEATURE.md
  admin/README.md
  admin/css/admin.css
  admin/index.html
  admin/js/admin.js
  admin/js/band-edit-form.js
  admin/js/band-review-manager.js
  admin/js/notification.js
Labels: documentation, style, logic

feat: add local server admin page handler
  server.py
Labels: none

chore: style and ux improvements
  admin/css/admin.css
  admin/index.html
  admin/js/band-edit-form.js
  admin/js/band-review-manager.js
  admin/js/multiselect-dropdown.js
Labels: style, logic

feat: add validate url feature
  server.py
Labels: none

chore: finish bands manager admin page
  admin/css/admin.css
  admin/index.html
  admin/js/admin.js
  admin/js/band-edit-form.js
  admin/js/band-reviewed-manager.js
  js/band-manager.js
  js/error.js
Labels: style, logic

chore: update bands information
  db.json
Labels: data

feat: local admin page (#50)
  AUTOMATION_SUMMARY.md
  BAND_PAGE_FEATURE.md
  admin/README.md
  admin/css/admin.css
  admin/index.html
  admin/js/admin.js
  admin/js/band-edit-form.js
  admin/js/band-review-manager.js
  admin/js/band-reviewed-manager.js
  admin/js/multiselect-dropdown.js
  admin/js/notification.js
  db.json
  js/band-manager.js
  js/error.js
  server.py
Labels: documentation, style, logic, data

chore: normalize bands names, genres and member roles
  db.json
Labels: data

feat: add CI data validation and minify mechanism
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Makefile
  package.json
  scripts/build.sh
  scripts/common.sh
  scripts/minify_css.py
  scripts/minify_html.py
  scripts/minify_js.py
  scripts/minify_json.py
  scripts/requirements.txt
  scripts/validate_data.py
Labels: ci, dependencies

chore: simplify setup in workflows
  .github/actions/node-setup/action.yml
  .github/actions/python-setup/action.yml
  .github/workflows/bands-updater.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/festival-updater.yml
Labels: ci

fix: missing dot in action path
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: ci

fix: remove explicit setup of pnpm version in ci
  .github/actions/node-setup/action.yml
Labels: ci

feat: 49/data validation ci (#51)
  .github/actions/node-setup/action.yml
  .github/actions/python-setup/action.yml
  .github/workflows/bands-updater.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/festival-updater.yml
  Makefile
  db.json
  package.json
  scripts/build.sh
  scripts/common.sh
  scripts/minify_css.py
  scripts/minify_html.py
  scripts/minify_js.py
  scripts/minify_json.py
  scripts/requirements.txt
  scripts/validate_data.py
Labels: ci, data, dependencies

chore: show festivals in the band page
  .stylelintrc.json
  css/band-modal.css
  eslint.config.mjs
  js/band-manager.js
Labels: ci, style, logic

chore: show festivals in the band page (#52)
  .stylelintrc.json
  css/band-modal.css
  eslint.config.mjs
  js/band-manager.js
Labels: ci, style, logic

chore: migrate the local server from python to go
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  admin/README.md
  go.mod
  package.json
  server.go
  server.py
Labels: documentation, dependencies

chore: migrate the local server from python to go (#53)
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  admin/README.md
  go.mod
  package.json
  server.go
  server.py
Labels: documentation, dependencies

chore: migrate validate data script to go
  .github/actions/go-setup/action.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  README.md
  package.json
  scripts/validate_data.go
  scripts/validate_data.py
Labels: ci, documentation, dependencies

chore: migrate validate data script to go (#54)
  .github/actions/go-setup/action.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  README.md
  package.json
  scripts/validate_data.go
  scripts/validate_data.py
Labels: ci, documentation, dependencies

chore: migrate updater scripts to go
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
  CONTRIBUTING.md
  README.md
  scripts/band_updater.py
  scripts/band_updater/band_updater.go
  scripts/festival_updater.py
  scripts/festival_updater/festival_updater.go
Labels: ci, documentation

chore: add updaters dry-run mode check in CI
  .github/workflows/ci.yml
Labels: ci

chore: remove unnecessary node setup
  .github/workflows/ci.yml
Labels: ci

chore: migrate updater scripts to go (#55)
  .github/workflows/bands-updater.yml
  .github/workflows/ci.yml
  .github/workflows/festival-updater.yml
  CONTRIBUTING.md
  README.md
  scripts/band_updater.py
  scripts/band_updater/band_updater.go
  scripts/festival_updater.py
  scripts/festival_updater/festival_updater.go
Labels: ci, documentation

chore: migrate remaining scripts, add proper go CI
  .github/actions/go-setup/action.yml
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .golangci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  go.mod
  package.json
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
  scripts/minify_css.py
  scripts/minify_css/minify_css.go
  scripts/minify_html.py
  scripts/minify_html/minify_html.go
  scripts/minify_js.py
  scripts/minify_js/minify_js.go
  scripts/minify_json.py
  scripts/minify_json/minify_json.go
  scripts/requirements.txt
  scripts/validate_data/validate_data.go
  server.go
Labels: ci, documentation, dependencies

fix: golint ci version
  .github/workflows/ci.yml
Labels: ci

fix: golint ci version
  .github/workflows/ci.yml
Labels: ci

fix: golint ci version
  .github/workflows/ci.yml
Labels: ci

chore: migrate remaining scripts, add proper go CI (#56)
  .github/actions/go-setup/action.yml
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .golangci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  go.mod
  package.json
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
  scripts/minify_css.py
  scripts/minify_css/minify_css.go
  scripts/minify_html.py
  scripts/minify_html/minify_html.go
  scripts/minify_js.py
  scripts/minify_js/minify_js.go
  scripts/minify_json.py
  scripts/minify_json/minify_json.go
  scripts/requirements.txt
  scripts/validate_data/validate_data.go
  server.go
Labels: ci, documentation, dependencies

feat: add festival card component
  components/festival-card/README.md
  components/festival-card/festival-card.css
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  css/components.css
  index.html
  js/map.js
  map.html
  script.js
  scripts/build.sh
  test-component.html
Labels: style, logic

feat: add festival card component (#57)
  components/festival-card/README.md
  components/festival-card/festival-card.css
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  css/components.css
  index.html
  js/map.js
  map.html
  script.js
  scripts/build.sh
  test-component.html
Labels: style, logic

fix: minify issues
  Makefile
  README.md
  index.html
  js/router.js
  map.html
  package.json
  scripts/minify_html/minify_html.go
  scripts/minify_js/minify_js.go
  server.go
  test-component.html
Labels: documentation, logic, dependencies

fix: minify issues (#58)
  Makefile
  README.md
  index.html
  js/router.js
  map.html
  package.json
  scripts/minify_html/minify_html.go
  scripts/minify_js/minify_js.go
  server.go
  test-component.html
Labels: documentation, logic, dependencies

chore: add dynamo metalfest
  db.json
Labels: data

chore: add dynamo metalfest (#59)
  db.json
Labels: data

fix: minor adjustments
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  db.json
Labels: logic, data

fix: minor adjustments (#60)
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  db.json
Labels: logic, data

feat: redesign timeline page
  components/festival-card/festival-card.css
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  css/layout.css
  css/map.css
  css/responsive.css
  script.js
Labels: style, logic

fix: style fixes, minifying
  .github/workflows/ci.yml
  css/band-modal.css
  css/layout.css
  css/map.css
  css/responsive.css
  index.html
  js/map.js
  map.html
  package.json
  pnpm-lock.yaml
  script.js
  scripts/build.sh
  scripts/minify-css.sh
  scripts/minify-html.sh
  scripts/minify-js.sh
  scripts/minify-json.sh
  scripts/minify-summary.sh
  scripts/minify_css/minify_css.go
  scripts/minify_html/minify_html.go
  scripts/minify_js/minify_js.go
  scripts/minify_json/minify_json.go
Labels: ci, style, logic, dependencies

fix: minify issues
  .github/workflows/deploy.yml
  scripts/build.sh
  scripts/minify-css.sh
  scripts/minify-summary.sh
Labels: ci

Feat/timeline redesign (#61)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  components/festival-card/festival-card.css
  components/festival-card/festival-card.html
  components/festival-card/festival-card.js
  css/band-modal.css
  css/layout.css
  css/map.css
  css/responsive.css
  index.html
  js/map.js
  map.html
  package.json
  pnpm-lock.yaml
  script.js
  scripts/build.sh
  scripts/minify-css.sh
  scripts/minify-html.sh
  scripts/minify-js.sh
  scripts/minify-json.sh
  scripts/minify-summary.sh
  scripts/minify_css/minify_css.go
  scripts/minify_html/minify_html.go
  scripts/minify_js/minify_js.go
  scripts/minify_json/minify_json.go
Labels: ci, style, logic, dependencies

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml
