Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

feat: add new festivals info
  db.json
Labels: data

feat: add new festivals info (#95)
  db.json
Labels: data

feat: add unit tests config and deps
  js/ui-utils.test.js
  package.json
  pnpm-lock.yaml
  vitest.config.js
  vitest.setup.js
Labels: logic, dependencies

feat: add unit tests CI job
  .github/workflows/ci.yml
  sonar-project.properties
Labels: ci

feat: add go internal unit tests
  internal/api/bands_test.go
  internal/api/festivals_test.go
  internal/api/router_test.go
  internal/api/url_validate_test.go
  internal/constants/common_test.go
  internal/data/bands_test.go
  internal/data/db_json.go
  internal/data/db_json_test.go
  internal/data/festivals_test.go
  internal/data/testing.go
  internal/data/testing_test.go
  internal/model/api_test.go
  internal/model/database_test.go
  internal/model/feestival_test.go
  internal/openai/openai_test.go
  package.json
Labels: dependencies

feat: add go unit tests to ci
  .github/workflows/ci.yml
  sonar-project.properties
Labels: ci

feat: add more unit tests
  .gitignore
  package.json
  scripts/band_updater/band_updater_test.go
  scripts/festival_updater/festival_updater_test.go
  scripts/validate_data/validate_data_test.go
Labels: dependencies

fix: ci calls
  .github/workflows/ci.yml
Labels: ci

feat: 97/go unit tests (#98)
  .github/workflows/ci.yml
  .gitignore
  internal/api/bands_test.go
  internal/api/festivals_test.go
  internal/api/router_test.go
  internal/api/url_validate_test.go
  internal/constants/common_test.go
  internal/data/bands_test.go
  internal/data/db_json.go
  internal/data/db_json_test.go
  internal/data/festivals_test.go
  internal/data/testing.go
  internal/data/testing_test.go
  internal/model/api_test.go
  internal/model/database_test.go
  internal/model/feestival_test.go
  internal/openai/openai_test.go
  package.json
  scripts/band_updater/band_updater_test.go
  scripts/festival_updater/festival_updater_test.go
  scripts/validate_data/validate_data_test.go
  sonar-project.properties
Labels: ci, dependencies

feat: add end to end tests for public pages
  .gitignore
  e2e/map.spec.js
  e2e/timeline.spec.js
  eslint.config.mjs
  package.json
  playwright.config.js
  pnpm-lock.yaml
Labels: logic, dependencies

feat: add e2e tests to CI
  .github/workflows/ci.yml
Labels: ci

feat: 91/end to end tests (#99)
  .github/workflows/ci.yml
  .gitignore
  e2e/map.spec.js
  e2e/timeline.spec.js
  eslint.config.mjs
  package.json
  playwright.config.js
  pnpm-lock.yaml
Labels: ci, logic, dependencies

feat: add festival band size, optimize openai requests
  internal/model/festival.go
  internal/model/festival_test.go
  internal/model/openai.go
  internal/openai/openai.go
  scripts/band_updater/band_updater.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
Labels: none

chore: update go tests with latest changes
  internal/model/festival_test.go
  internal/model/openai_test.go
  internal/openai/openai_test.go
  scripts/band_updater/band_updater_test.go
  scripts/festival_updater/festival_updater_test.go
Labels: none

chore: add go color for tests, fix html lint
  .htmlhintrc
  conf.gotest
  package.json
Labels: ci, dependencies

feat: 93/size festival bands (#100)
  .htmlhintrc
  conf.gotest
  internal/model/festival.go
  internal/model/festival_test.go
  internal/model/openai.go
  internal/model/openai_test.go
  internal/openai/openai.go
  internal/openai/openai_test.go
  package.json
  scripts/band_updater/band_updater.go
  scripts/band_updater/band_updater_test.go
  scripts/festival_prompt.md
  scripts/festival_updater/festival_updater.go
  scripts/festival_updater/festival_updater_test.go
Labels: ci, dependencies

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

feat: render festival bands according to size
  components/festival-card/festival-card.css
  components/festival-card/festival-card.js
  components/festival-card/festival-card.test.js
Labels: style, logic

feat: render festival bands according to size (#102)
  components/festival-card/festival-card.css
  components/festival-card/festival-card.js
  components/festival-card/festival-card.test.js
Labels: style, logic

chore: adapt admin page to consider bands size
  admin/css/admin.css
  admin/js/managers/FestivalEditForm.js
Labels: style, logic

feat: add tests for admin pages
  e2e/admin-bands.spec.js
  e2e/admin-festivals.spec.js
  internal/data/festivals_test.go
Labels: logic

fix: missing festival keys
  db.json
Labels: data

fix: tons of rock ticket price
  db.json
Labels: data

fix: a few more prices
  db.json
Labels: data

chore: update festivals info
  db.json
Labels: data

Feat/93/size festival bands (#103)
  admin/css/admin.css
  admin/js/managers/FestivalEditForm.js
  db.json
  e2e/admin-bands.spec.js
  e2e/admin-festivals.spec.js
  internal/data/festivals_test.go
Labels: style, logic, data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

fix: remove wrong bands data
  db.json
  scripts/festival_updater/festival_updater.go
Labels: data

chore: update rock im park data
  db.json
Labels: data

fix: use mini model, allow fallback from top level on empty resonse
  internal/openai/openai.go
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
Labels: none

fix: failing tests, null pointer in dry-run
  internal/openai/openai_test.go
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
Labels: none

Fix/corrupted data (#107)
  db.json
  internal/openai/openai.go
  internal/openai/openai_test.go
  scripts/band_updater/band_updater.go
  scripts/festival_updater/festival_updater.go
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

fix: non compliant data, add auto fix to validate script
  db.json
  scripts/validate_data/validate_data.go
  scripts/validate_data/validate_data_test.go
Labels: data

fix: non compliant data
  db.json
Labels: data

chore: rename CI workflow
  .github/workflows/ci.yml
Labels: ci

chore: create data model design docs
  docs/design/DYNAMODB_BANDS_DATA_MODEL.md
  docs/design/DYNAMODB_FESTIVALS_DATA_MODEL.md
Labels: documentation

chore: create data model design docs (#109)
  docs/design/DYNAMODB_BANDS_DATA_MODEL.md
  docs/design/DYNAMODB_FESTIVALS_DATA_MODEL.md
Labels: documentation
