Repository neovasili/metal-fests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, infra, style, logic, data, media, dependencies

fix: member roles keys normalization in bands update script
  scripts/band_updater/band_updater.go
Labels: none

chore: change from Sunday to Saturday scheduled updaters workflows
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

fix: bands updater role normalization (#140)
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
  scripts/band_updater/band_updater.go
Labels: ci

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#141)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#142)
  db.json
Labels: data

chore: add enable auto-merge for updaters PR
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

chore: add enable auto-merge for updaters PR (#143)
  .github/workflows/bands-updater.yml
  .github/workflows/festival-updater.yml
Labels: ci

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#144)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#145)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#146)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#147)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#148)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#149)
  db.json
Labels: data

Fix timeline page scroll blocked by overscroll-behavior CSS (#152)
  css/base.css
Labels: style

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#153)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#154)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#156)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#157)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#158)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#159)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#161)
  db.json
Labels: data

chore: 🎸 Update bands information (automated)
  db.json
Labels: data

chore: 🎸 Update bands information (automated) (#162)
  db.json
Labels: data

chore: 🎸 Update festival information (automated)
  db.json
Labels: data

chore: 🎸 Update festival information (automated) (#163)
  db.json
Labels: data

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*
    - .htmlhintrc
    - .markdownlint.yaml
    - .pre-commit-config.yaml
    - .prettierrc
    - .stylelintrc.json
    - .eslint.config.mjs

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*
    - infra/**/*

style:
- changed-files:
  - any-glob-to-any-file:
    - ./*.css
    - ./**/*.css

logic:
- changed-files:
  - any-glob-to-any-file:
    - ./*.js
    - ./**/*.js

data:
- changed-files:
  - any-glob-to-any-file:
    - ./db.json

media:
- changed-files:
  - any-glob-to-any-file:
    - ./fonts/**
    - ./img/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - pnpm-lock.yaml
